.footer {
  background-color: hsl(236, 32%, 26%);
  /* plus de position fixed */
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
  color: white;
  text-align: center;
  z-index: 1000;
  flex-shrink: 0; /* empêche le footer de rétrécir */
}