<button class="verb" (click)="navigateOnVerbPage()">
  <div class="verb-category">
    <p class="JLPT-level">{{ verb_model.jlptLevel }}</p>
    <p class="verb-group">{{ verb_model.verbGroup }}</p>
  </div>
  <div class="verb-informations">
    <p class="verb-translation">{{ verb_model.translationFr }}</p>
    <p class="verb-kanji">{{ verb_model.baseKanji }}</p>
    <p class="verb-hiragana">{{ verb_model.baseHiragana }}</p>
    <p class="verb-romaji">{{ verb_model.baseRomaji }}</p>
  </div>
</button>
